* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-size: 3rem;
    font-weight: 600
}

h2{
    font-size: 2rem;
    font-weight: 500
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-height: 80vh;
    margin: 0 auto;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.input{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* City report section */

.city-report-container{
    min-width: 700px;
    margin: 2rem auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding: .5rem;
    
}

.city-name{
    background-color: skyblue;
    border-radius: 10px;
}

.weather-data{
    background: linear-gradient(145deg, skyblue, white);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 2rem;
}

.humidity,
.wind-speed{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.humidity img,
.wind-speed img{
  width: 35px;
  height: 40px;
}